@use "./../../../mixins.scss" as mixin;

.main-container {
  @include mixin.main-container;
}

.post {
  width: 100%;
}
mat-card {
  @include mixin.mat-card-stlye;
}
mat-card-header {
  padding-bottom: 16px;
}

.attachment {
  width: 150px;
}
.attachment img {
  width: 100%;
}
.profile-header {
  width: 100%;
}
.username-form > * {
  padding-right: 15px;
}
