@if (viewedUserData$ |async; as user) {
<div class="main-container">
  <mat-card class="profile-header">
    <mat-card-header>
      <div mat-card-avatar class="currentUser-profile-picture">
        <mat-icon>person</mat-icon>
      </div>
      <mat-card-title
        >{{ user.displayName
        }}<span class="username"> {{ "@" + user.username }}</span></mat-card-title
      >
      @if (loggedInUserData$ | async; as loggedInUser) { @if (loggedInUser != user || !loggedInUser)
      {
      <button mat-icon-button (click)="createConversation()"><mat-icon>mail</mat-icon></button>

      } }

      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  @for (post of postCollection$ | async; track post.id) {
  <app-post [post]="post"></app-post>
  }
</div>
}
