@use "./../../../mixins.scss" as mixin;

.main-container {
  @include mixin.main-container;
}

.post {
  width: 100%;
}
mat-card {
  @include mixin.mat-card-stlye;
}

.attachment {
  width: 150px;
}
.attachment img {
  width: 100%;
}
.profile-header {
  width: 100%;
}
