:host {
  display: block;
  width: 100%;
}

.post-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
mat-form-field {
  width: 100%;
}

mat-card {
  border-radius: 0px;
}
textarea {
  resize: none;
}
