<mat-card class="post-form-card" appearance="outlined">
  <mat-card-content>
    <div class="post-form-container">
      <div mat-card-avatar class="poster-profile-picture">
        <mat-icon>person</mat-icon>
      </div>
      <form [formGroup]="postForm" class="post-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="text"></textarea>
        </mat-form-field>
        <button mat-flat-button [disabled]="postForm.value.text.length < 1">Post</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
