@if (post) { @if (poster$ | async; as poster) {
<mat-card class="post" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="poster-profile-picture">
      <mat-icon>person</mat-icon>
    </div>

    <mat-card-title>
      <a routerLink="/profile/{{ post.userId }}">{{ poster.displayName }}</a>
      <span class="username"> {{ "@" + poster.username }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (post.text) {
    <p>
      <a routerLink="/post/{{ post.id }}" class="postRedirect">{{ post.text }}</a>
    </p>
    }
  </mat-card-content>
  <mat-card-actions>
    <div class="post-interactions">
      <button mat-button (click)="likePost()" [ngClass]="{ liked: this.isLiked$ | async }">
        {{ post.likeCount }} Like
      </button>
      <button mat-button>Repost</button>
    </div>
    <div class="post-info">
      @if (isOwner$ | async) {
      <button mat-icon-button (click)="deletePost()">
        <mat-icon> delete </mat-icon>
      </button>
      }
    </div>
  </mat-card-actions>
</mat-card>
} }
