@use "../../../../mixins.scss" as mixin;

:host {
  display: block;
  width: 100%;
}

.post {
  width: 100%;
}
mat-card {
  @include mixin.mat-card-stlye;
}

.attachment {
  width: 150px;
}
.attachment img {
  width: 100%;
}

.liked {
  background-color: var(--mat-sys-primary);
  color: black !important;
}
.postRedirect {
  text-decoration: none;
}

mat-card-actions {
  justify-content: space-between;
}
