@mixin main-container {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}

@mixin content-box {
  max-width: 400px;
  margin: auto;
}
@mixin mat-card-stlye {
  border-radius: 0px;
}

@mixin auth-stlyes {
  mat-card {
    @include content-box;
    padding: 2vh;
    gap: 1vh;
  }

  mat-card-content,
  mat-card-title {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-form-field {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .submitBtn {
    display: flex;
    justify-content: flex-end;
  }
}
